.menu-container {
    font-family: 'Segoe UI', sans-serif;
}

.menu-item.force-hide>.submenu {
    display: none !important;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: hsl(10, 85%, 95%);
    ;
    color: white;
    padding: 5px 30px 2px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.menu-item {
    position: relative;
    font-size: 20px;
    /*    color: hsl(15, 40%, 20%);
    color: hsl(0, 0%, 20%);*/
    color: hsl(10, 80%, 30%);
    cursor: pointer;
}

.menu-title {
    display: inline-block;
    padding: 10px 15px;
}

/* Submenu hidden by default */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: hsl(10, 80%, 90%);
    /* Rich saffron color */
    list-style: none;
    padding: 5px 0;
    margin: 0;
    min-width: 180px;
    border-radius: 4px;
    z-index: 1000;
}

/* Show submenu on hover */
.menu-item:hover>.submenu {
    display: block;
}

/* Temporarily hide submenu after click */
.menu-item.force-hide>.submenu {
    display: none !important;
}

/* Submenu items */
.submenu-item {
    padding: 8px 12px;
    color: hsl(10, 80%, 30%);
    cursor: pointer;
    white-space: nowrap;
}

.submenu-item:hover {
    background-color: hsl(10, 85%, 95%);
    /* Slightly darker on hover */
    color: hsl(10, 70%, 30%);
    font-size: 21px;
    /*font-weight: bold;*/
}

.cart-icon {
    font-size: 2rem;
    margin-right: 20px;
}

.cart-icon-container {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
}

.cart-count {
    position: absolute;
    top: -2px;
    right: -15px;
    background: #ff4d4d;
    color: #fff;
    border-radius: 50%;
    padding: 2px 7px;
    font-size: 0.95rem;
    font-weight: bold;
    min-width: 32px;
    text-align: center;
    margin-right: 20px;
}